h1 {
    color: black;
    text-align: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  #loginB{
      color:blue;
      height:30px;
      width:80px;
      
  }

  #button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #eff;
}
#cinemaC{
    border: 2px solid black;
}

#blogpost1{
    border: solid thin;
    background: #ffe;
    border-radius: 5px;
    margin-top: 10px;
    
}

#blogpost1_photo{
    padding: 0 15px;
    float: left;
    
}
